nav{
  background-color: #0a192f;
  color: #ffffff;
  font-family: "NTR";
  position: sticky;
  top: 0; 
  z-index: 1000; 
}

ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar{
  padding: 20px 0;
}

.navbar-pages{
  display: flex;
  gap: 60px;
  align-items: center;
  font-size: 20px;
  margin-left: auto;
}

.navbar-pages li:hover{
  color: #9ea0ff !important;
}

.navbar-links{
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto;
}

.navbar-links svg:hover{
  fill: #9ea0ff !important;
}

.logo{
  width: 200px;
  height: auto;
  display: flex;
  align-items: center;
}

svg {
  fill: white;
}

button {
  padding: 0px;
  margin: 0px;
}

.navbar-hamburger svg {
  fill: white;
  width: 25px;
  height: 25px;

}

.navbar-hamburger {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  background: transparent;
  border: 0;
}

.navbar-mobile-pages{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navbar-mobile-pages li:hover{
  color: #9ea0ff !important;
}


.navbar-mobile-links{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.navbar-mobile-links svg:hover{
  fill: #9ea0ff !important;
}

.navbar-mobile-links li:nth-child( 2 ){
  padding: 0px 10px;
}

.navbar-mobile .wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 50px 0px;
}

.navbar-mobile {
  font-family: "NTR";
  font-size: 40px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #233554;
}

.navbar-mobile .exitBtn {
  background-color: transparent;
  border: 0px;
  position: absolute;
  top: 30px;
  right: 0px;
}

.navbar-mobile .exitBtn svg {
  fill: white;
  width: 20px;
  height: 20px;
}

@media (max-width: 1280px) {
  .navbar-pages{
    display: none;
  }

  .navbar-links{
    display: none;
  }

  .navbar-hamburger{
    display: block;
  }

}

@media (max-width: 768px) {

}